<h1>Your TO-DO list</h1>


<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= link_to task.name, task_path(task) %>
    <%= link_to "(Edit)", edit_task_path(task) %>
    <%= link_to "(Delete)", task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" } %>

  </li>
  <% end %>
</ul>


<%= link_to "Add task",  new_task_path %>

